 /* Jumbotron */
.jumbotron {
	border-radius: 0;
	overflow: hidden;
	padding: 0;
	.heading {
		font-family: $primary-font;
		font-size: 6rem;	
		font-weight: 300;
		line-height: 1.4;
	}
	.paragraph {
		font-family: $primary-font;
		font-size: 3.3rem;
		font-weight: 300;
		line-height: 1.6;
	}
	.btn {
		&:hover {
			color: inherit;
		}
	}
}

@media (max-width: 1440px) {
	.jumbotron {
		img {
			max-width: 75%;
		}
		.heading {
			font-size: 5rem;
		}
		.paragraph {
			font-size: 2.5rem;
		}
		.btn {
			font-size: 1.6rem;
			padding: 1.8rem 3rem;
		}
	}
}

@media (max-width: 992px) {
	.jumbotron {
		img {
			//display: none;
		}
		.inner-wrap {
			padding-top: 13rem;
		}
		.heading {
			font-size: 3rem;
			text-align: center;
		}
		.paragraph {
			font-size: 1.8rem;
			text-align: center;
		}
	}
}